* {
    margin: 0;
    padding: 0;
}

body {
  background-color: aqua;
   
  text-align: center;   
}
.contenner {
    height: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;    

}
.game {
    height: 60vh;
    width: 60vh;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    align-items: center;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
 box-shadow: 1px 1px rgb(235, 180, 99);
 background-color:rgb(103, 222, 103) ;
 color: rgb(59, 48, 36);
 font-size: xx-large;
}
         
#hedding {
    text-align: center;

}
.reset {
 padding: 0.5rem;   
 border-radius: 0.5rem;
 font-size: 1.2rem;
 border: none;
 background-color: rgb(70, 51, 27);
 color: azure;
}
  #msg {
    color: rgb(78, 52, 17);
    font-size: 5VMIN;
  }
.msg-container {
  height: 12vmin;   
}
.hide {
    display: none;
}
 

#new-btn {
 padding: 0.5rem;   
 border-radius: 0.7rem;
 font-size: 1rem;
 border: none;
 background-color: rgb(70, 51, 27);
 color: azure;
}